<div class="wrapper">
<p id="notice"><%= notice %></p>

<div class="col-md-10 offset-md-2 main-contents">

  <div class="container-fluid slider">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: url(<%= @firstarticle.picture_url %>)">
          <%=link_to(@firstarticle) do %>
            <div class="container col-md-8 main-content"> 
              <div class="row">
                <div class="col-md-4">
                  <h1><%= @firstarticle.title %></h1>
                  <p><%= @firstarticle.body %></p>
                </div>
                <div class="col-md-4 offset-md-4">
                  <%= image_tag(@firstarticle.picture_url, class:"d-block w-100") if @firstarticle.picture.present? %>
                </div>
              </div>
            </div> 
          <% end %>
        </div>
        <div class="carousel-item" style="background-image: url(<%= @secondarticle.picture_url %>)">
           <%=link_to(@secondarticle) do %>
            <div class="container col-md-8 main-content"> 
              <div class="row">
                <div class="col-md-4">
                  <h1><%= @secondarticle.title %></h1>
                  <p><%= @secondarticle.body %></p>
                </div>
                <div class="col-md-4 offset-md-4">
                  <%= image_tag(@secondarticle.picture_url, class:"d-block w-100") if @secondarticle.picture.present? %>
                </div>
              </div>
            </div>
          <% end %> 
        </div>
        <div class="carousel-item" style="background-image: url(<%= @thirdarticle.picture_url %>)">
          <%=link_to(@thirdarticle) do %>
            <div class="container col-md-8 main-content"> 
              <div class="row">
                <div class="col-md-4">
                  <h1><%= @thirdarticle.title %></h1>
                  <p><%= @thirdarticle.body %></p>
                </div>
                <div class="col-md-4 offset-md-4">
                  <%= image_tag(@thirdarticle.picture_url, class:"d-block w-100") if @thirdarticle.picture.present? %>
                </div>
              </div>
            </div> 
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row large-board">
      <div class="col-md-8 big-board">
        <div class="container main-articles">
          <div class="container">
            <div class="row">
              <% @articles.each do |article| %>
                <%= link_to(article) do %>
                  <div class="card col-md-4">
                    <div class="card-inside">
                      <div class="card-img-top"><%= image_tag article.picture_url(:thumb) if article.picture.present? %></div>
                      <div class="card-body">
                        <h5 class="card-title"><%= article.title %></h5>
                        <p class="tag">#<%= render 'articles/tag_list', tag_list: article.tag_list%></p>
                        <!-- <%= link_to 'Edit', edit_article_path(article), class:"btn btn-primary" %> -->
                        <!-- <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-primary"%> -->
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
            <%= paginate @articles %>
            <%= link_to 'New Article', new_article_path %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="right-side-bar">
          <div class="container-fluid">
            <h5 style="text-align:center">RANKING</h5>
            <% @most_viewed.each.with_index(1) do |rank| %>
              <%= link_to(rank) do %>
                <div class="card">
                  <div class="card-img-top"><%= image_tag rank.picture_url(:thumb) if rank.picture.present? %></div>
                  <div class="card-body">
                    <h5 class="card-title"><%= rank.title %></h5>
                    <p class="tag"><%= render 'articles/tag_list', tag_list: rank.tag_list%></p>
                    <!-- <%= link_to 'Edit', edit_article_path(rank), class:"btn btn-primary" %> -->
                    <!-- <%= link_to 'Destroy', rank, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-primary"%> -->
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>