<div class="wrapper">
<p id="notice"><%= notice %></p>

<div class="col-md-10 offset-md-2 main-contents">

  <div class="container-fluid slider">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="https://images.unsplash.com/photo-1470110385011-8c66cb46f0e9?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE1ODB9" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE1ODB9" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE1ODB9" alt="Third slide">
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row large-board">
      <div class="col-md-8 big-board">
        <div class="container main-articles">
          <div class="container">
            <div class="row">
              <% @articles.each do |article| %>
                <%= link_to(article) do %>
                  <div class="card col-md-4">
                    <div class="card-inside">
                      <div class="card-img-top"><%= image_tag article.picture_url(:thumb) if article.picture.present? %></div>
                      <div class="card-body">
                        <h5 class="card-title"><%= article.title %></h5>
                        <p class="tag">#<%= render 'articles/tag_list', tag_list: article.tag_list%></p>
                        <!-- <%= link_to 'Edit', edit_article_path(article), class:"btn btn-primary" %> -->
                        <!-- <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-primary"%> -->
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
            <%= link_to 'New Article', new_article_path %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="right-side-bar">
          <div class="container-fluid">
            <h5 style="text-align:center">RANKING</h5>
            <% @most_viewed.each.with_index(1) do |rank| %>
              <%= link_to(rank) do %>
                <div class="card">
                  <div class="card-img-top"><%= image_tag rank.picture_url(:thumb) if rank.picture.present? %></div>
                  <div class="card-body">
                    <h5 class="card-title"><%= rank.title %></h5>
                    <p class="tag"><%= render 'articles/tag_list', tag_list: rank.tag_list%></p>
                    <!-- <%= link_to 'Edit', edit_article_path(rank), class:"btn btn-primary" %> -->
                    <!-- <%= link_to 'Destroy', rank, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-primary"%> -->
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>