<nav id="sidebar" class="col-md-2">
    <div class="sidebar-contents">
        <div class="sidebar-header">
            <%=link_to(root_path, class:'logo-anker') do %>
                <img src="assets/Signal.png" width="100%">
            <% end %>
        </div>
        <ul class="list-unstyled components">
            <% if user_signed_in? %>
                <p>メールアドレス： <%= current_user.email %> </p>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            <% else %>
                <p><%= link_to "新規登録", new_user_registration_path %></p>
                <%= link_to "ログイン", new_user_session_path %>
            <% end %>
            <li>
                <%=link_to("記事一覧", articles_path)%>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
        </ul>
        <div class="sidebar-bottom">
            <div class="row">
                <div class="col-md-6">
                    <i class="fas fa-info"></i>
                    <div>
                        <a href="#">About</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <i class="fas fa-portrait"></i>
                    <div>
                        <a href="#">Contact</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class=sidebar-logo>
                <p>Powered by</p>
                <p>StartX</p>
            </div>
        </div>
    </div>
</nav>